@page
@model Cofetarie.Pages.Interogari_Simple.Interogare6Model

<h1>Interogare 6</h1>

<p>Aceasta este o interogare care afișează lista clientilor care au plasat comenzi cu produse care au peste 600 de Calorii per comanda, iar produsele fac parte din categoria 'Patiserie dulce'  </p>

@if (Model.RezultateInterogare6.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>NumeClient</th>
                <th>Calorii</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model.RezultateInterogare6)
            {
                <tr>
                    <td>@result.NumeClient</td>>
                    <td>@result.Calorii</td>>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nu există rezultate pentru această interogare.</p>
}

<a class="btn btn-secondary" asp-page="/Interogari_Simple/Index">Înapoi</a>
